@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Luckiest Guy";
  src: url("/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-poppins: var(--font-poppins);
  --font-luckiest-guy: var(--font-luckiest-guy);

  --color-background: var(--background);
  --color-border: var(--border);
  --color-text: var(--text);
  --color-subtext: var(--subtext);
  --color-foreground: var(--foreground);
  --color-white: var(--white);
  --color-accent: var(--accent);
  --color-highlight: var(--highlight);
  --color-alive: var(--alive);
  --color-medium: var(--medium);
  --color-yellow: var(--yellow);

  --animate-float-cloud: float 6s ease-in-out infinite;
  --animate-fade-in: fade-in 0.7s ease-out infinite;
}

@keyframes float-cloud {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer base {
  :root {
    --font-poppins: "Poppins", sans-serif;
    --font-luckiest-guy: "Luckiest Guy", sans-serif;

    --background: #f0f9ff;
    --border: #f6f6f6;
    --text: #1e1e1e;
    --subtext: #2f2f2f;
    --foreground: #656565;
    --white: #ffffff;
    --accent: #5db9e8;
    --highlight: #88d1f4;
    --alive: #395c35;
    --medium: #c1e7fb;
    --yellow: #fede00;
  }

  html {
    @apply scroll-smooth font-poppins;
  }

  body {
    @apply bg-background text-text transition-colors duration-300;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  a {
    @apply text-text no-underline;
  }

  * {
    @apply border-border;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@utility text-glow {
  @apply relative;
  text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}

@utility card-hover {
  @apply transition-transform duration-300 hover:scale-[1.02] hover:shadow-lg;
}

@utility btn-more {
  @apply bg-text text-white rounded-full hover:scale-105 transition-colors duration-300;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
